<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>

<body>

    <h1>details food id</h1>

    <ul>
        <li>
            {{food.id}}
        </li>
        <li>
            {{food.name}}
        </li>
        <li>
            <img src="{{food.photo.url}}" alt="">
        </li>
        <li>
            {{food.description}}
        </li>
    </ul>

</body>

</html>